*{
    box-sizing: border-box;
}

@font-face {
    font-family: 'Spantaran';
    src:url('fonts/Spantaran.ttf.woff') format('woff'),
        url('fonts/Spantaran.ttf.eot'),
        url('fonts/Spantaran.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito-Light';
    src:url('fonts/Nunito-Light.ttf.woff') format('woff'),
        url('fonts/Nunito-Light.ttf.eot'),
        url('fonts/Nunito-Light.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

$mainColor: #4814A0;
$secondColor: #6E65C2;

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @mixin screenDim {
    max-height: 100%;
    max-width: 100%;
  }



html, body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

header{
    .flags{
        @include flex-center;
        position: absolute;
      
        right: 30;
        top: 50;
        .flag-box{
            height:20px;
            width: 35px;
            margin: 10px;
            border: 1px solid gray;
            img{
                
                width: 100%;
                height: 100%;
                
            }
        }
    }
        font-family: 'Spantaran';
        margin:0;
     
    .logo-box{   
        @include flex-center;  
        margin-top: 25px;
       
    }

    
    nav{
        width: 100%;
        font-family: 'Nunito-Light';
        
        ul{
            margin-left:-65px;
            margin-bottom: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            height: 10%;
            
            list-style-type: none;
            font-size: 1.5rem;
            
            li{ 
              padding-left: 0;
              margin-top: 15px;
              width: 15%;
              text-align: center;
              font-weight: bold;
              letter-spacing: 5px;
              text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
              color: $secondColor;
              cursor: pointer;
              transition: 0.5s;
                a{
                    text-decoration: none;
                    color: inherit;
                    display: block;
                 }
              &:hover{
                  opacity: 0.7;
                  transform: scaleX(0.9);
              }
            }
        }
    }
}
    
footer{
    @include flex-center;
    font-family: 'Nunito-Light';
    width: 100%;
    height: 40px;
    font-size: 1rem;
    background-color: $mainColor;
    color: white;
    
}


section {
    font-family: 'Varela Round';

    .video-container{
        height: 100vh;
        video{
           width: 100%;
        }
    }
  
}

#about{
    width: 100%;
    margin-top:170px;
    color: $secondColor;
    text-align: center;
    h1{
        text-transform: uppercase;
        @include flex-center;
        font-size: 4rem;
        text-shadow: 1px 2px 3px $mainColor;
    }

    h2{
        font-size: 2rem;
    }

    .about-box{
        @include flex-center;
        margin:0;    
        flex-wrap: wrap;
        height: 100vh;
        width: 100%;
        background: url('img/violetpaintbackround.png');
        background-size: contain;
        .about-img-box{
            width: 50%;
            height: 100%;
            img{
                position: relative;
                top: 100;
                border-radius: 5px;
                right: -40;
                max-width: 100%;
                max-height: 70%;
            }
        }

        .about-description{
            @include flex-center;
            height: 100%;
           flex-wrap: wrap;
            color: white;
            width:50%;
            h1{
                font-size: 3rem;
                width: 100%;
            }
            p{
                
                width: 100%;
                font-size: 2rem;
            }
        }
    }
}

#products{
    width: 100%;
    .product-box{
        display: flex;
        flex-wrap: wrap;
        height: 100vh;
        width: 100%;
        .product-img-box{
            width: 50%;
            height: 80%;
            img{
                position: relative;
                top: 80;
                left: 80;
                max-width: 100%;
                max-height: 100%;
                
                
            }
        }
        .product-description{
            @include flex-center;
            height: 100%;
           flex-wrap: wrap;
            color: $secondColor;
            width:50%;
          text-align: center;
            h1{
                font-size: 4rem;
                width: 100%;
                text-transform: uppercase;
            }
            p{
                margin-top: -300px;
                
                width: 100%;
                font-size: 2rem;
            }
        }
    }
}

.up-button {
    background: url('img/up.png');
    background-color: black;
    border-radius:50%;
    background-size: cover;
    width: 80px;
    height: 80px;
    position: fixed;
    top: 85%;
    left: 90%;
    opacity: 0;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
        transform: scale(0.9);
    }
  }

  .up-button.active {
    opacity: 0.9;
    display: block;
   
  }


@media screen and (max-width: 768px){
    html{
        font-size: 55%;
}

    #video{
        .video-container{
            background: url('img/video-replacement.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 60%;
            height: 40vh;
            video{
                display: none;
            }
        }
       
    }

.logo-box {
    
    img{
        transform: scale(0.7);
        width: 100%;
    }

    
 
}
    header {
        nav{
            ul{
                text-align: center;
                margin-bottom: -10px;
                :nth-child(2){
                 margin-right:10px;
             }
                li{
                 width: 15%;
                 letter-spacing: 0px;
                 margin-left: 10px;
                 text-align: center;
                }
            } 
        }
       .flags{
           display: block;
           top: 32;
           right: 10;
           
           .flag-box{
               height: 10px;
               width: 20px;
               margin-bottom: 17px;
           }
       }
    }

    #about{
        margin: 0;
        .about-box{
            height: 50vh;
            background-repeat: no-repeat;
            background-size: cover;
            .about-description{
                height: 50%;
                width: 50%;
                padding: 10px;
                h1{
                    font-size: 1.8rem;
                }
                p{
                    margin-top: -50px;
                    font-size: 100%;
                }
            }
            .about-img-box{
                img{
                   
                    right:0;
                }
            }
        }
    }
  
    .up-button{
        left: 77%;
        transform: scale(0.7);
    }

}