* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'Spantaran';
  src: url("fonts/Spantaran.ttf.woff") format("woff"), url("fonts/Spantaran.ttf.eot"), url("fonts/Spantaran.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito-Light';
  src: url("fonts/Nunito-Light.ttf.woff") format("woff"), url("fonts/Nunito-Light.ttf.eot"), url("fonts/Nunito-Light.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

header {
  font-family: 'Spantaran';
  margin: 0;
}

header .flags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 30;
  top: 50;
}

header .flags .flag-box {
  height: 20px;
  width: 35px;
  margin: 10px;
  border: 1px solid gray;
}

header .flags .flag-box img {
  width: 100%;
  height: 100%;
}

header .logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
}

header nav {
  width: 100%;
  font-family: 'Nunito-Light';
}

header nav ul {
  margin-left: -65px;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10%;
  list-style-type: none;
  font-size: 1.5rem;
}

header nav ul li {
  padding-left: 0;
  margin-top: 15px;
  width: 15%;
  text-align: center;
  font-weight: bold;
  letter-spacing: 5px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  color: #6E65C2;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header nav ul li a {
  text-decoration: none;
  color: inherit;
  display: block;
}

header nav ul li:hover {
  opacity: 0.7;
  -webkit-transform: scaleX(0.9);
          transform: scaleX(0.9);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Nunito-Light';
  width: 100%;
  height: 40px;
  font-size: 1rem;
  background-color: #4814A0;
  color: white;
}

section {
  font-family: 'Varela Round';
}

section .video-container {
  height: 100vh;
}

section .video-container video {
  width: 100%;
}

#about {
  width: 100%;
  margin-top: 170px;
  color: #6E65C2;
  text-align: center;
}

#about h1 {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 4rem;
  text-shadow: 1px 2px 3px #4814A0;
}

#about h2 {
  font-size: 2rem;
}

#about .about-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100vh;
  width: 100%;
  background: url("img/violetpaintbackround.png");
  background-size: contain;
}

#about .about-box .about-img-box {
  width: 50%;
  height: 100%;
}

#about .about-box .about-img-box img {
  position: relative;
  top: 100;
  border-radius: 5px;
  right: -40;
  max-width: 100%;
  max-height: 70%;
}

#about .about-box .about-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: white;
  width: 50%;
}

#about .about-box .about-description h1 {
  font-size: 3rem;
  width: 100%;
}

#about .about-box .about-description p {
  width: 100%;
  font-size: 2rem;
}

#products {
  width: 100%;
}

#products .product-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100vh;
  width: 100%;
}

#products .product-box .product-img-box {
  width: 50%;
  height: 100%;
}

#products .product-box .product-img-box img {
  max-width: 100%;
  max-height: 100%;
}

#products .product-box .product-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #6E65C2;
  width: 50%;
  text-align: center;
}

#products .product-box .product-description h1 {
  font-size: 4rem;
  width: 100%;
  text-transform: uppercase;
}

#products .product-box .product-description p {
  margin-top: -300px;
  padding-right: 40px;
  padding-top: 40px;
  padding-left: 20px;
  width: 100%;
  font-size: 2rem;
}

.up-button {
  background: url("img/up.png");
  background-color: black;
  border-radius: 50%;
  background-size: cover;
  width: 80px;
  height: 80px;
  position: fixed;
  top: 85%;
  left: 90%;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.up-button:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.up-button.active {
  opacity: 0.9;
  display: block;
}

.bg {
  background: url("img/violetbackroundsides.png");
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg h1 {
  color: white;
}

.ketonella img {
  width: 70%;
  height: 70%;
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
}

.ketonella h1 {
  margin-left: 60px;
}

.ketonella .noBgImg {
  -webkit-transform: translate(25%, 25%);
          transform: translate(25%, 25%);
}

@media screen and (max-width: 768px) {
  html {
    font-size: 55%;
  }
  #video .video-container {
    background: url("img/video-replacement.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60%;
    height: 40vh;
  }
  #video .video-container video {
    display: none;
  }
  .logo-box img {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    width: 100%;
  }
  header nav ul {
    text-align: center;
    margin-bottom: -10px;
  }
  header nav ul :nth-child(2) {
    margin-right: 10px;
  }
  header nav ul li {
    width: 15%;
    letter-spacing: 0px;
    margin-left: 10px;
    text-align: center;
  }
  header .flags {
    display: block;
    top: 32;
    right: 10;
  }
  header .flags .flag-box {
    height: 10px;
    width: 20px;
    margin-bottom: 17px;
  }
  #about {
    margin: 0;
  }
  #about .about-box {
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #about .about-box .about-description {
    height: 50%;
    width: 50%;
    padding: 10px;
  }
  #about .about-box .about-description h1 {
    font-size: 1.8rem;
  }
  #about .about-box .about-description p {
    margin-top: -50px;
    font-size: 100%;
  }
  #about .about-box .about-img-box img {
    right: 0;
  }
  #products .product-box {
    height: 45vh;
  }
  #products .product-box .product-description {
    font-size: 40%;
    height: 50%;
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  #products .product-box .product-description h1 {
    font-size: 2.2rem;
  }
  #products .product-box .product-description p {
    font-size: 1.2rem;
    padding: 10px;
    margin: 0;
  }
  #products .product-box .product-img-box img {
    -webkit-transform: translateY(25%);
            transform: translateY(25%);
  }
  .up-button {
    left: 77%;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  .ketonella h1 {
    margin-left: 30px;
    margin-top: 80px;
  }
  .ketonella img {
    margin-top: 55px;
    margin-left: 30px;
    height: 45%;
    width: 70%;
  }
}

@-webkit-keyframes fadeRight {
  from {
    opacity: 0;
    -webkit-transform: translate(-120px);
            transform: translate(-120px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes fadeRight {
  from {
    opacity: 0;
    -webkit-transform: translate(-120px);
            transform: translate(-120px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes fadeLeft {
  from {
    opacity: 0;
    -webkit-transform: translate(120px);
            transform: translate(120px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes fadeLeft {
  from {
    opacity: 0;
    -webkit-transform: translate(120px);
            transform: translate(120px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
