@font-face {
  font-family: 'Spantaran';
  src: url("fonts/Spantaran.ttf.woff") format("woff"), url("fonts/Spantaran.ttf.eot"), url("fonts/Spantaran.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito-Light';
  src: url("fonts/Nunito-Light.ttf.woff") format("woff"), url("fonts/Nunito-Light.ttf.eot"), url("fonts/Nunito-Light.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin: 0 auto;
  padding: 0;
  background-position: 50% 35%;
  scroll-behavior: smooth;
}

html header, body header {
  font-family: 'Spantaran';
  margin: 0;
}

html header .logo-box, body header .logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 25px;
}

html header p, body header p {
  display: inline-block;
  position: relative;
  top: -100;
}

html nav, body nav {
  width: 100%;
  font-family: 'Nunito-Light';
}

html nav ul, body nav ul {
  margin-left: -65px;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10%;
  list-style-type: none;
  font-size: 1.5rem;
}

html nav ul li, body nav ul li {
  padding-left: 0;
  margin-top: 15px;
  width: 20%;
  text-align: center;
  font-weight: bold;
  letter-spacing: 5px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  color: #6E65C2;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html nav ul li a, body nav ul li a {
  text-decoration: none;
  display: block;
}

html nav ul li:hover, body nav ul li:hover {
  opacity: 0.7;
  -webkit-transform: scaleX(0.9);
          transform: scaleX(0.9);
}

section {
  font-family: 'Varela Round';
}

section .video-container {
  height: 100vh;
}

section .video-container video {
  width: 100%;
}

#about {
  margin-top: 170px;
  color: #6E65C2;
  text-align: center;
}

#about h1 {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 4rem;
  text-shadow: 1px 2px 3px #4814A0;
}

#about h2 {
  font-size: 2rem;
}

#about .about-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100vh;
  width: 100%;
  background: url("img/violetpaintbackround.png");
  background-size: contain;
}

#about .about-box .about-img-box {
  width: 50%;
  height: 100%;
}

#about .about-box .about-img-box img {
  position: relative;
  top: 110;
  border-radius: 5px;
  right: -40;
  max-width: 100%;
  height: 70%;
}

#about .about-box .about-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: white;
  width: 50%;
}

#about .about-box .about-description h1 {
  font-size: 3rem;
  width: 100%;
}

#about .about-box .about-description p {
  margin-top: -300px;
  width: 100%;
  font-size: 2rem;
}

#products .products-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100vh;
  width: 100%;
}

#products .products-box .product-img-box {
  width: 50%;
  height: 100%;
}

#products .products-box .product-img-box img {
  position: relative;
  top: 80;
  left: 80;
  max-width: 100%;
  max-height: 100%;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
          clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

#products .products-box .product-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #6E65C2;
  width: 50%;
  text-align: center;
}

#products .products-box .product-description h1 {
  font-size: 4rem;
  width: 100%;
  text-transform: uppercase;
}

#products .products-box .product-description p {
  margin-top: -300px;
  width: 100%;
  font-size: 2rem;
}

.up-button {
  background: url("img/up.png");
  background-color: black;
  border-radius: 50%;
  background-size: cover;
  width: 80px;
  height: 80px;
  position: fixed;
  top: 85%;
  left: 90%;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.up-button:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.up-button.active {
  opacity: 0.9;
  display: block;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 65%;
  }
  .logo-box img {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  header nav ul li {
    letter-spacing: 0px;
    margin-left: 20px;
    text-align: center;
  }
}
