@font-face {
  font-family: 'Spantaran';
  src: url("fonts/Spantaran.ttf.woff") format("woff"), url("fonts/Spantaran.ttf.eot"), url("fonts/Spantaran.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito-Light';
  src: url("fonts/Nunito-Light.ttf.woff") format("woff"), url("fonts/Nunito-Light.ttf.eot"), url("fonts/Nunito-Light.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin: 0 auto;
  padding: 0;
  background: url("img/ketoBurger.jpg");
  background-position: 50% 45%;
}

html header h1, body header h1 {
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: 'Spantaran';
  text-align: center;
  font-size: 6rem;
  color: #4814A0;
  background-color: rgba(255, 255, 255, 0.3);
}

html nav, body nav {
  position: relative;
  top: -65px;
  width: 100%;
  font-family: 'Nunito-Light';
}

html nav ul, body nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 10%;
  color: #6E65C2;
  background: rgba(72, 20, 160, 0.8);
  list-style-type: none;
  font-size: 1.5rem;
}

html nav ul li, body nav ul li {
  padding-top: 1.5rem;
  width: 15%;
  text-align: center;
  font-weight: bold;
  letter-spacing: 5px;
  text-shadow: 2px 2px 2px black;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html nav ul li:hover, body nav ul li:hover {
  background-color: white;
  color: #4814A0;
}

section {
  font-family: 'Nunito-Light';
}

section .video-bg {
  height: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .video-bg p {
  color: white;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 3px 3px 10px black;
}
