@font-face {
    font-family: 'Spantaran';
    src:url('fonts/Spantaran.ttf.woff') format('woff'),
        url('fonts/Spantaran.ttf.eot'),
        url('fonts/Spantaran.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito-Light';
    src:url('fonts/Nunito-Light.ttf.woff') format('woff'),
        url('fonts/Nunito-Light.ttf.eot'),
        url('fonts/Nunito-Light.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

$mainColor: #4814A0;
$secondColor: #6E65C2;

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @mixin screenDim {
    max-height: 100%;
    max-width: 100%;
  }



html, body{
    margin: 0 auto;
    padding: 0;
    background-position: 50% 35%;
    

header{
        font-family: 'Spantaran';
        margin:0;
     
    .logo-box{   
        @include flex-center;  
        padding-top: 25px;
        
}
p{
    display: inline-block;
    position: relative;
    top:-100;
}
    }
    nav{
        width: 100%;
        font-family: 'Nunito-Light';
        ul{
            margin-left:-65px;
            margin-bottom: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            height: 10%;
            
            list-style-type: none;
            font-size: 1.5rem;
            
            li{ 
              padding-left: 0;
              transform: translateY(25%);
              width: 20%;
              text-align: center;
              font-weight: bold;
              letter-spacing: 5px;
              text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
              color: $secondColor;
              cursor: pointer;
              transition: 0.5s;
              &:hover{
                  
                  transform: translateY(5%);
              }
            }
        }
    }
}
    



section {
    font-family: 'Varela Round';
    
    .video-container{
        height: 100vh;
        video{
           width: 100%;
        }
    }
  

    .about{
        height: 100vh;
        background-image: url('img/bluza.jpg');
        background-size: cover;
    }
}

#about{
    margin-top:170px;
    color: $secondColor;
    text-align: center;
    h1{
        font-family: 'Nunito-Light';
        text-transform: uppercase;
        @include flex-center;
        font-size: 4rem;
        text-shadow: 1px 2px 3px $mainColor;
    }

    h2{
        font-size: 2rem;
       
    }
}

@media screen and (max-width: 768px){
    html{
        font-size: 65%;
}

.logo-box img{
    transform: scale(0.7);
}
    header nav{
       ul{
          
           li{
            letter-spacing: 0px;
               margin-left: 20px;
               text-align: center;
           }
       } 
    }

}